:root {
    --primary-color: #293969;
    --secondary-color: #014a7d;
    --background-color: #4aa4d3;
    --background-color-2: #6abae3;
    --background-color-3: #bdced6;
    --text-color: #1f1e1e;
    --shadow-color: rgba(0, 0, 0, 0.3);
}
