.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -60px;
    background-image: linear-gradient(to bottom, var(--background-color), var(--background-color-2), var(--background-color-3));
}

.sectionTitulo {
    padding-top: 60px;
    color: white;
}

.sectionTitulo h1 {
    font-size: 25px;
}

.sectionTitulo h2 {
    text-align: end;
    font-size: 25px;
}

.sectionContenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    gap: 20px;
}

.sectionContenido img {
    width: 300px;
    filter: drop-shadow(0px 0px 100px var(--background-color-3));
    user-select: none;
    pointer-events: none;
}

.form {
    width: 320px;
}

@media (min-width: 576px) {
    .sectionTitulo h1,
    .sectionTitulo h2 {
        font-size: 35px;
    }

    .sectionContenido img {
        width: 400px;
    }

    .form {
        width: 450px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        margin-top: -80px;
    }

    .sectionTitulo h1,
    .sectionTitulo h2 {
        font-size: 45px;
    }

    .sectionTitulo h1 {
        line-height: 1.1;
    }

    .sectionTitulo h2 {
        line-height: 0.8;
    }

    .sectionContenido {
        flex-direction: row;
        padding: 40px 0;
    }

    .sectionContenido img {
        width: 350px;
    }

    .form {
        width: 350px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        margin-top: -100px;
    }

    .sectionTitulo h1,
    .sectionTitulo h2 {
        font-size: 50px;
    }

    .sectionContenido {
        gap: 60px;
    }

    .sectionContenido img {
        width: 400px;
    }

    .form {
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .sectionTitulo {
        padding-top: 10px;
    }

    .sectionContenido {
        padding: 20px 0;
    }

    .sectionContenido img {
        width: 350px;
    }

    .form {
        width: 350px;
    }
}

@media (min-width: 1400px) {
    .sectionTitulo {
        padding-top: 30px;
    }

    .sectionTitulo h1,
    .sectionTitulo h2 {
        font-size: 60px;
    }

    .sectionContenido {
        gap: 60px;
        padding: 40px 0;
    }

    .sectionContenido img {
        width: 450px;
    }

    .form {
        width: 450px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        margin-top: -150px;
    }

    .sectionTitulo h1,
    .sectionTitulo h2 {
        font-size: 70px;
    }

    .sectionContenido img {
        width: 500px;
    }

    .form {
        width: 500px;
    }
}
