.sectionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin-top: -65px;
    background-image: linear-gradient(to bottom, var(--background-color), var(--background-color-2), var(--background-color-3));
    padding-bottom: 100px;
}

.sectionTitulo {
    padding-top: 70px;
    color: white;
}

.sectionTitulo h1 {
    font-size: 30px;
}

.sectionContenido {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenidoAdicional {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin: 10px 0;
}

.pagination button {
    background-color: var(--primary-color);
    text-align: center;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 0 5px;
}

.pagination button:disabled {
    background-color: var(--background-color-3);
    cursor: not-allowed;
}

.activePage {
    font-size: 16px;
}

.sectionTabla {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 360px;
}

.buttonVacante {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    text-decoration: none;
    border-style: solid;
    border-color: var(--primary-color);
    background-color: rgba(41, 57, 105, 0.5);
    padding: 10px;
    width: 320px;
    height: 140px;
}

.cardContainer:first-child .buttonVacante {
    border-width: 4px 4px 2px 4px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.cardContainer:not(:first-child):not(:last-child) .buttonVacante {
    border-width: 2px 4px 2px 4px;
}

.cardContainer:last-child .buttonVacante {
    border-width: 2px 4px 4px 4px;
}

.buttonVacante h3,
.detallesVacante h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.detallesVacante {
    display: flex;
    flex-direction: column;
    text-align: start;
    color: white;
    text-decoration: none;
    border-style: solid;
    border-color: var(--primary-color);
    background-color: rgba(1, 73, 125, 0.5);
    padding: 10px;
    width: 320px;
}

.cardContainer:not(:last-child) .detallesVacante {
    border-width: 2px 4px 2px 4px;
}

.cardContainer:last-child .detallesVacante {
    border-width: 0px 4px 4px 4px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.detallesVacante p {
    margin-bottom: 10px;
}

@media (min-width: 576px) {
    .cardContainer {
        width: 576px;
    }

    .buttonVacante {
        width: 500px;
    }

    .detallesVacante {
        width: 500px;
    }
}

@media (min-width: 768px) {
    .sectionContainer {
        margin-top: -85px;
    }

    .sectionTabla {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 720px;
    }

    .cardColumn {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 310px;
        height: 560px;
        background-color: rgba(41, 57, 105, 0.5);
        border: solid;
        border-color: var(--primary-color);
        border-width: 4px 2px 4px 4px;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        color: white;
    }

    .active {
        background-color: var(--primary-color);
    }

    .cardContainer {
        width: 305px;
        border-radius: none;
    }

    .cardContainer:hover {
        background-color: rgba(85, 99, 141, 0.5);
    }

    .buttonVacante {
        height: 138px;
        width: 310px;
        background-color: transparent;
    }

    .buttonVacante:hover {
        background-color: rgba(41, 57, 105, 0.7);
        transition: background-color 0.3s ease;
    }

    .cardContainer:first-child .buttonVacante {
        border-width: 0px 0px 4px 0px;
        border-top-left-radius: 5px;
        border-top-right-radius: 0px;
    }

    .cardContainer:last-child .buttonVacante {
        border-bottom-left-radius: 5px;
    }

    .cardContainer:not(:first-child):not(:last-child) .buttonVacante {
        border-width: 0px 0px 4px 0px;
    }

    .cardContainer:nth-child(1) .buttonVacante {
        border-width: 0px 0px 4px 0px;
    }

    .cardContainer:nth-child(2) .buttonVacante {
        border-width: 0px 0px 4px 0px;
    }

    .cardContainer:nth-child(3) .buttonVacante {
        border-width: 0px 0px 4px 0px;
    }

    .cardContainer:nth-child(4) .buttonVacante {
        border-width: 0px 0px 0px 0px;
    }

    .detalleColumn {
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid;
        border-color: var(--primary-color);
        background-color: rgba(1, 73, 125, 0.5);
        border-width: 4px 4px 4px 2px;
        border-bottom-right-radius: 12px;
        border-top-right-radius: 12px;
        width: 410px;
        height: 560px;
        color: white;
    }

    .detallesVacante {
        overflow-y: auto;
        scroll-behavior: smooth;
        border-style: none;
        background-color: transparent;
        width: 390px;
        height: 540px;
    }
}

@media (min-width: 992px) {
    .sectionContainer {
        margin-top: -105px;
    }

    .sectionTitulo h1 {
        font-size: 40px;
    }

    .sectionTabla {
        width: 900px;
    }

    .detalleColumn {
        width: 590px;
    }

    .detallesVacante {
        width: 570px;
    }
}

@media (min-width: 1200px) {
    .sectionTabla {
        width: 1100px;
    }

    .cardColumn {
        width: 400px;
        height: 520px;
    }

    .cardContainer {
        width: 395px;
    }

    .buttonVacante {
        height: 128px;
        width: 400px;
    }

    .buttonVacante h3 {
        font-size: 18px;
    }

    .detalleColumn {
        width: 700px;
        height: 520px;
    }

    .detallesVacante {
        width: 680px;
        height: 510px;
    }
}

@media (min-width: 1700px) {
    .sectionContainer {
        margin-top: -155px;
    }

    .sectionTitulo h1 {
        font-size: 60px;
    }

    .sectionTablaVacantes {
        margin-top: 50px;
    }
}
