@import url('../src/styles/global/fuentes.css');
@import url('../src/styles/global/variables.css');
@import url('../src/styles/global/spinner.css');
@import url('../src/styles/global/errorCarga.css');
@import url('../src/styles/global/navbar.css');
@import url('../src/styles/global/botones.css');
@import url('../src/styles/global/footer.css');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fondo-1 {
    background-image: linear-gradient(to left, var(--secondary-color), var(--background-color));
    background-image: linear-gradient(
        135deg,
        var(--background-color) 0%,
        transparent 10%,
        transparent 20%,
        var(--secondary-color) 30%,
        var(--secondary-color) 30%,
        transparent 40%,
        transparent 50%,
        var(--secondary-color) 60%
    );
    background-size: 100% 150%;
    animation: moveBackground 15s ease-in-out infinite alternate;
}

@keyframes moveBackground {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}
